    <td><%=h provider.name.titleize %></td>
    <td><%=h provider.long_name.titleize %></td>
    <td><%=h provider.description %></td>
    <td><a href="<%=h provider.main_documentation_url %>" target=blank><%=h provider.main_documentation_url %></td>
    <td><a href="<%=h provider.api_documentation_url %>" target=blank><%=h provider.api_documentation_url %></td>
    <td class="<%= provider.state %>"><%=h provider.state %></td>
    <td><%=h provider.adapter_class %></td>
