<h1>Listing providers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Long name</th>
    <th>Description</th>
    <th>Main documentation url</th>
    <th>Api documentation url</th>
    <th>State</th>
    <th>Adapter class</th>
  </tr>

<% for provider in @providers %>
  <tr>
    <td><%=h provider.name %></td>
    <td><%=h provider.long_name %></td>
    <td><%=h provider.description %></td>
    <td><%=h provider.main_documentation_url %></td>
    <td><%=h provider.api_documentation_url %></td>
    <td><%=h provider.state %></td>
    <td><%=h provider.adapter_class %></td>
    <td><%= link_to 'Show', provider %></td>
    <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
    <td><%= link_to 'Destroy', provider, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New provider', new_provider_path %>
