<% subtitle "Cloud Providers: #{@provider.name}" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Available Cloud Providers', providers_path %>
  / <%= edit_in_place(@provider, :name, :class => 'editable provider-1-editable') %>
</h1>

<p>
  <b>Long name:</b>
  <%=h @provider.long_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @provider.description %>
</p>

<p>
  <b>Main documentation url:</b>
  <%=h @provider.main_documentation_url %>
</p>

<p>
  <b>Api documentation url:</b>
  <%=h @provider.api_documentation_url %>
</p>

<p>
  <b>State:</b>
  <%=h @provider.state %>
</p>

<p>
  <b>Adapter class:</b>
  <%=h @provider.adapter_class %>
</p>