<h1>New security_group</h1>

<% form_for(@security_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :provider_account_id %><br />
    <%= f.text_field :provider_account_id %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', security_groups_path %>
