<%
  op_fpath = File.join(RAILS_ROOT, 'app', 'models', 'operations')
  operation_options  = Dir.glob( File.join( op_fpath, '**','*.rb') ).map do |path|
    "operations/#{path[/#{op_fpath}\/(.*)\.rb/,1]}".camelize
  end.sort.select do |ocp|
    (ocp.constantize).is_schedulable?
  end.map do |o|
    %Q|<option value="#{o}">#{o.constantize.label}</option>|
  end
%>
The following Tasks have been configured for this server.<br />
To add a new Task, select a type from the drop-down list. Then click the plus sign icon.
<br />
<br />

<% form_for :server,
    :url => new_server_server_task_path(@server),
    :html => { :method => :get } do |f| -%>

<%= will_paginate_search_field "server_#{@server.id}_server_task_search", nil, nil, :list %>

<%= refresh_image 'Refresh', 'server_tasks', nil, :list, nil %>

<span class="vr">&nbsp;</span>

&nbsp;
<%= select_tag :class_type, operation_options.join('') %>
<%= image_submit_tag("add.png", :class => 'control-icon', :alt => "Add", :title => "Add a New Task") %>

<span class="vr">&nbsp;</span>

<b>Total: <span id="server_<%= @server.id %>_server_tasks_total"><%= @server_tasks.total_entries %></span></b>

<% end -%>
        
<hr>

<%= render :partial => 'server/server_tasks/list' %>
