<% remote_form_for :volumes,
    :url => control_provider_account_volumes_path(@provider_account) do |f| %>
        
<%= will_paginate_search_field "provider_account_#{@provider_account.id}_volume_search", nil, nil, :list %>

<%= refresh_image 'Refresh', 'volumes', nil, :list, nil %>

<span class="vr">&nbsp;</span>

<%= add_volume_link 'Add' %>
<%= delete_volumes_submit 'Delete' %>

<span class="vr">&nbsp;</span>

<%= snapshot_volumes_submit 'Snapshot' %>
<%= hidden_field_tag :command, '', :class => :command %>
<%= hidden_field_tag :command_parameter, '', :class => :command_parameter %>

<span class="vr">&nbsp;</span>

<b>Total: <span id="provider_account_<%= @provider_account.id %>_volumes_total"><%= @volumes.total_entries %></span></b>

<hr>

<%= render :partial => 'provider_account/volumes/list' %>
<% end %>
