<table>
  <tr>
    <th><%= f.label :name, 'Name' %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :email, 'E-Mail' %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <th><%= f.label :time_zone, 'Time Zone' %></th>
    <td><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %></td>
  </tr>
  <% unless current_user.user_type == 'LdapUser' %>
    <tr>
      <th><%= f.label :password %></th>
      <td>******** <%= link_to 'change', user_profile_password_settings_path(current_user) %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="2">Public Keys</th>
  </tr>
  <%= render :partial => 'user/user_keys/list' %>
</table>
