    <td><%= link_to h(publisher.class_type.constantize.label), edit_publisher_path(publisher) %></td>
    <td><%=h time_ago(publisher.last_published_at) %></td>
    <td class="<%=h publisher.state %>"><%=h publisher.state %></td>
    <td><%= publisher.state_text %></td>
    <td>
      <%= delete_publisher_image_link 'Delete', publisher %>
      <%= verify_publisher_image_link 'Verify', publisher %>
      <%= run_publisher_image_link 'Publish', publisher %>
    </td>
