<tr class="selectable event_record">
	<td><%=h event.created_at %></td>
	<td><%=h event.provider_account_name %></td>
	<td><%=h event.security_group_name %></td>
	<td><%=h event.server_name %></td>
	<td><%=h event.user_login %></td>
	<td class="<%=h event.action %>"><%=h event.action %></td>
	<td><%=h event.object %></td>
	<td><%=h event.description %></td>
</tr>
