<% remote_form_for :instances,
    :url => control_server_instances_path(@server) do |f| %>

<%= will_paginate_search_field "server_#{@server.id}_instance_search", nil, nil, :list %>

<%= refresh_image 'Refresh', nil, nil, :list %>

<span class="vr">&nbsp;</span>

<%= reboot_instance_image_submit 'Reboot', "#{@parent_type}-#{@parent.id}-instance" %>
<%= terminate_instance_image_submit 'Terminate', "#{@parent_type}-#{@parent.id}-instance" %>
<%= hidden_field_tag :instance_command, '', :class => :instance_command %>

<span class="vr">&nbsp;</span>

<b>Total: <span id="server_<%= @server.id %>_instances_total"><%= @instances.total_entries %></span></b>

<hr>

<%= render :partial => 'server/instances/list' %>
<% end %>
