<%- readonly = cluster_parameter.is_readonly? %>
<%- protected = cluster_parameter.is_protected? %>
<%- showonly = ( showonly.nil? ? !cluster_parameter.new_record? : showonly ) %>
<% fields_for "cluster[cluster_parameter_attributes][]", cluster_parameter do |f| %>
<% content_tag_for :tr, cluster_parameter, :disabled => (readonly || showonly), :class => (readonly || showonly) ? 'disabled' : '' do %>
    <% if cluster_parameter.new_record? or showonly %>
    	<td>&nbsp;</td>
    <% else %>
		<%= f.hidden_field :id, :index => nil %>
    	<td class="handle">[drag]</td>
    <% end %>
	<td>
		<%= check_box_tag nil, '', protected, :disabled => (readonly || showonly), :onclick => "$(this).next('.is_protected').value = ($(this).checked ? '1' : '0');" %>
        <%= f.hidden_field :is_protected, :index => nil, :class => 'is_protected' %>
	</td>
    <td><%= f.text_field :name, :readonly => (readonly || showonly), :index => nil %></td>
    <% if protected and showonly %>
    	<td><%= text_field_tag :value, '[sensitive]', :readonly => (readonly || showonly), :class => 'value' %></td>
    <% else %>
    	<td><%= f.text_field :value, :readonly => (readonly || showonly), :index => nil, :class => 'value' %></td>
    <% end %>
    <td>
    <% if (readonly || showonly) %>
		<span class="disabled">readonly</span>
    <% elsif cluster_parameter.new_record? %>
        <%= link_to_function 'remove', "$(this).up('.cluster_parameter').remove()"%>
	<% else %>
        <%= link_to_function 'remove', "mark_for_destroy(this, $(this).up('.cluster_parameter'))"%>
        <%= f.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
    <% end %>
	<%= error_messages_for :cluster_parameter %>
    </td>
<% end %>
<% end %>
