<td><%= link_to h(row.name), edit_server_server_task_path(@server, row) %></td>
<td><%= row.description %></td>
<td><%= row.operation %></td>
<td>
    Start <%= row.run_at.to_s(:long) %><% if !row.run_every_value.blank? and (row.run_every_value > 0) and !row.run_every_units.blank? -%>
, run every <%= row.run_every_value %> <%= row.run_every_units %>.
<% end -%>
</td>
<td class="<%=  row.is_active? %>">
    <%= check_box_tag("server_task["+row.id.to_s+"][is_active]", :is_active, row.is_active?, :onclick => remote_function(
        :url => server_task_url(row),
        :with => "'server_task[is_active]='+( $('server_task_"+row.id.to_s+"_is_active').checked == true ? 1 : 0 )",
        :method => :put)) %>
</td>
<td class="<%= row.is_scheduled? %>"><%= row.is_scheduled? ? 'Yes' : (row.is_active? ? 'Pending' : 'No' ) %></td>
<td><% if row.operations.length > 0 %><%= time_and_time_ago(row.operations.last.created_at) %><% else %>N/A<% end %></td>
<td>
    <%= run_server_task_link 'Run!', row %><%= remove_server_task_link 'Delete', row %>
</td>
