<% subtitle 'All Snapshots' %>

<h1><%= link_to 'Dashboard', '/dashboard' %> / All Snapshots</h1>

<br/>

<%= will_paginate_search_field "user_#{@user.id}_cloud_snapshot_search", nil, nil, :list %>

<%= refresh_image 'Refresh', nil, nil, :list, nil %>

<span class="vr">&nbsp;</span>

<b>Total: <span id="user_<%= @user.id %>_cloud_snapshots_total"><%= @snapshots.total_entries %></span></b>

<hr>

<div id="user_<%= @user.id %>_cloud_snapshots">

<%= render :partial => 'cloud_snapshots/list' %>

</div>