<% subtitle 'Daemons' %>

<h1>Daemons</h1>

<br />

<% remote_form_for :daemons, :url => { :action => 'control' } do |f| %>
<%= hidden_field_tag :search, nil, :class => 'search' %>
<%= refresh_image 'Refresh', 'daemons', nil, :list, nil %>

<%= image_submit_tag "start.png", :align => "absmiddle",
    :alt => "Start", :title => "Start Selected Daemons",
    :onclick => '$(this).next(".command").value="start";',
    :name => 'start'
%>

<%= image_submit_tag "reboot.png", :align => "absmiddle",
    :alt => "Restart", :title => "Restart Selected Daemons",
    :onclick => '$(this).next(".command").value="restart";',
    :name => 'restart'
%>

<%= image_submit_tag "stop.png", :align => "absmiddle",
    :alt => "Stop", :title => "Stop Selected Daemons",
    :onclick => 'if (confirm("Are you sure?")) { $(this).next(".command").value="stop"; } else { return false; }',
    :name => 'stop'
%>

<%= hidden_field_tag :command, '', :class => :command %>

<hr>

<%= render :partial => "list", :locals => { :f => f }  %>
<% end %>
