<div class="centered">
<h1>Add a New Volume</h1>
<br/>
<% remote_form_for :volume,
    :url => provider_account_volumes_path(@provider_account),
    :html => { :method => :post } do |f| %>
    <table>
	<tr>
        <th>
	    <%= f.label :name %>
        <br /><small>(e.g. 'New SVN Disk' - required)</small>
	    </th>
	    <td><%= f.text_field :name %></td>
	</tr>
	<tr>
        <th>
	    <%= f.label :zone %>
        <br /><small>(required)</small>
	    </th>
	    <td><%= f.collection_select :zone_id, @provider_account.zones, :id, :name, { :include_blank => 'Not Set' } %></td>
	</tr>
    <tr><td colspan="2" align="center">&nbsp;</td></tr>
	<tr>
        <th>
	    <%= f.label :size, 'Size (GB)' %>
        <br /><small>(required)</small>
	    </th>
	    <td><%= f.text_field :size, :class => :short %></td>
	</tr>
    <tr><td colspan="2" align="center"><b>OR</b></td></tr>
	<tr>
        <th>
	    <%= f.label :snapshot_id %>
        <br /><small>(optional)</small>
	    </th>
	    <td><%= f.collection_select :parent_cloud_id, @snapshots, :cloud_id, :name, { :include_blank => 'Not Set' } %></td>
	</tr>
	<tr>
	    <td colspan="2" align="center">
		<%= f.submit "Create" %>
		<%= f.submit "Cancel", :onclick => "$('small_redbox').hide(); return false;" %>
	    </td>
	</tr>
    </table>
<% end %>
</div>
