<h1>Listing regions</h1>

<table>
  <tr>
    <th>Provider</th>
    <th>Name</th>
    <th>Short name</th>
    <th>Description</th>
    <th>Endpoint url</th>
    <th>State</th>
    <th>Meta data</th>
  </tr>

<% for region in @regions %>
  <tr>
    <td><%=h region.provider_id %></td>
    <td><%=h region.name %></td>
    <td><%=h region.short_name %></td>
    <td><%=h region.description %></td>
    <td><%=h region.endpoint_url %></td>
    <td><%=h region.state %></td>
    <td><%=h region.meta_data %></td>
    <td><%= link_to 'Show', region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New region', new_region_path %>
