  <%= f.error_messages %>

  <p>
    <%= f.label :provider_id %><br />
    <% if @instance_type_category.new_record? %>
        <%= f.collection_select :provider_id, Provider.find(:all, :order => 'name'), :id, :name, { :prompt => false } %>
    <% else %>
        <%= h(@instance_type_category.provider.name) %>
    <% end %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
